<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color</key>
	<array>
		<string>#FF5300</string>
		<string>#FF7D0F</string>
		<string>#F5A623</string>
		<string>#F8E71C</string>
		<string>#A3DF2A</string>
		<string>#65BD24</string>
		<string>#008A1B</string>
		<string>#FFFFFF</string>
		<string>#7F7F7F</string>
		<string>#000000</string>
		<string>#76D3FE</string>
		<string>#0095FD</string>
		<string>#0067C9</string>
		<string>#FFBDD2</string>
		<string>#FF348B</string>
		<string>#FF0000</string>
		<string>#D00000</string>
		<string>#770A89</string>
	</array>
	<key>fontName</key>
	<array>
		<string>DroidSansFallback</string>
		<string>NotoSansHans-Black</string>
		<string>HappyZcool-2016</string>
		<string>BrushScriptStd</string>
		<string>Daniel-Regular</string>
		<string>Daniel-Bold</string>
		<string>Daniel-Black</string>
	</array>
</dict>
</plist>
